<!-- <h1>this is home</h1> -->
<html>
    <head>

        <title>home</title>
        <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <script src ="todolist.js"></script>

        <script src = "/controllers/controller.js"></script>
       
    </head>
    <body>
        
        <% for (var i=0;i < object.length; i++){ %>
            <h3><%=  object[i].title %></h3>
            <p><%=  object[i].description %></p>
            <img src="<%= object[i].image %>">
           <h5> <%=  object[i].quantity %></h5>
            <form method="post" action="/home/<%=i%>">
            new name:<input type="text" name="newtitle" id ="name"> 
            new description:<input type="text" name="newdescription" id="2">
            newquantity:<input type="text" name="newquantity" id="3">
            <!-- <button name = "submit" type="submit" onclick=update()>update</button> -->
            <input type = "submit" name="upate">
            </form>
            <button name ="<%=object[i].title%>">del</button>

        <% } %>
        
        
        </div>  
        
    </body>
</html>